<% include partials/header.ejs %>
    <main class="h-screen">
        <section class="flex justify-center items-center h-4/6">
            <form action="/admin/newproduct" method="POST" class=" w-4/12 border-2 p-8">

                <h2 class="text-xl">Add Product</h2>
                <input class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="text" name="image" placeholder="Enter image url">
                <input class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="text" name="name" placeholder="Enter your Product Name">
                <input class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="number" name="quantity" placeholder="Enter 
            Quantity">
                <input class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="number" name="price" placeholder="Enter the price">
                <input class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="submit">
            </form>
        </section>
    </main>