<% include partials/header.ejs %>
<main class="m-10">
    <section>
        <div>
            <a href="/admin/newproduct">
                <button class="border-2 py-1 px-4 bg-purple-400 text-white rounded-md font-bold">Add Product</button>
            </a>

            <a href="/admin/allproducts">
                <button class="border-2 py-1 px-4 bg-purple-600 text-white rounded-md font-bold">All Products</button>
            </a>

            <a href="/admin/allclients">
                <button class="border-2 py-1 px-4 bg-purple-600 text-white rounded-md font-bold">All Clients</button>
            </a>
        </div>
    </section>
</main>