<% include partials/header.ejs %> 

<main>
  <section>
    <h1 class="text-center text-3xl mt-5">Welcome  to E-commerce With Authorization</h1>
    <a href="/client/product">
      <button class="border-2 py-1 px-6 rounded-md bg-purple-700 text-white m-auto block mt-5">User products</button>
    </a>
  </section>
</main>