<% include partials/header.ejs %>

    <main class="h-screen">
        <section class="flex justify-center items-center h-4/6">
            <form action="/users/register/new" method="POST" class="w-4/12 border-2 p-8">
                <h2 class="text-xl">Register with your Details</h2>
                <input class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="text" name="firstName" placeholder="Enter your first Name"> <input
                    class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="email" name="email" placeholder="Enter your email">
                <input class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="password" name="password" placeholder="Enter your password">
                <select name="isAdmin" id=""
                    class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400">
                    <option value="Select Option">Select Option</option>
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
                <input class="border-2 w-full mt-5 py-2 px-2 rounded-md focus:outline-none focus:border-green-400"
                    type="submit">
            </form>
        </section>
    </main>